{
    "server": "hub.jawug.org.za",
    "port": 6667,
    "botName": "nodeFlea",
    "username": "nodeFlea",
    "realname": "nodeFlea",


    "channels": ["#botville"],
    "nickserv": "nickserv",
    "nickservPassword": "",

    "tls": false
}
